input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	color: $gray-90;
	border: 1px solid $gray-10;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $gray-90;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
	padding: 5px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}